@using DoAn_WebAcc.Models;
@model IList<User>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Danh sách User</h2>
    </div>

    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
                    <div class="card-body mt-4"></div>
                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th class="col-1 text-center">#</th>
                                <th class="col-3 text-center">Tên hiển thị</th>
                                <td class="col-1 text-center">Tên người dùng</td>
                                <td class="col-1 text-center">Email</td>
                                <td class="col-1 text-center">Ngày tạo</td>
                                <td class="col-1 text-center">Trạng thái cấm</td>
                                <td class="col-2 text-center">Chức năng</td>

                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">@item.Id</td>
                                    <td class="text-center">@item.Name</td>
                                    <td class="text-center">@item.Username</td>
                                    <td class="text-center">@item.Mail</td>
                                    <td class="text-center">@item.CreateDate.Value.ToString("hh:mm:ss dd/MM/yyyy")</td>
                                    <td class="text-center">@item.Ban</td>

                                    <td class="text-center">
                                        <a asp-area="Admin" asp-controller="User" asp-action="ResetPassWord" asp-route-id="@item.Id" class="btn btn-primary btn-sm" title="Sửa">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                        <a asp-area="Admin" asp-controller="User" asp-action="Ban" asp-route-id="@item.Id" class="btn btn-danger btn-sm" title="Xoá">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

            </div>

        </div>

    </section>
</main>