@using DoAn_WebAcc.Areas.Admin.Models;
@model IList<AdminMenu>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Danh sách menu</h2>
    </div>

    <p>
        <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="AdminMenu" asp-action="Create">
            <i class="bi bi-file-earmark-text me-1">
                Thêm menu
            </i>
        </a>
    </p>

    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
                    <div class="card-body mt-4"></div>
                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th class="col-1 text-center">#</th>
                                <th class="col-3 text-center">Tiêu đề</th>
                                <td class="col-1 text-center">Menu cha</td>
                                <td class="col-1 text-center">Thứ tự</td>
                                <td class="col-1 text-center">ControllerName</td>
                                <td class="col-1 text-center">ActionName</td>
                                <td class="col-1 text-center">Icon</td>
                                <td class="col-1 text-center">Ẩn/Hiện</td>
                                <th class="col-2 text-center">Chức năng</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th class="text-center" scope="row">@item.AdminMenuId</th>
                                    <td class="text-primary">@item.ItemName </td>
                                    <td class="text-center">@item.ParentLevel</td>
                                    <td class="text-center">@item.ItemOrder</td>
                                    <td class="text-center">@item.ControllerName</td>
                                    <td class="text-center">@item.ActionName</td>
                                    <td class="text-center">@item.Icon</td>
                                  
                                    <td class="text-center">@item.IsActive</td>

                                    <td class="text-center">
                                        <a asp-area="Admin" asp-controller="AdminMenu" asp-action="Edit" asp-route-id="@item.AdminMenuId" class="btn btn-primary btn-sm" title="Sửa nội dung bài viết">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                        <a asp-area="Admin" asp-controller="AdminMenu" asp-action="Delete" asp-route-id="@item.AdminMenuId" class="btn btn-danger btn-sm" title="Xoá thông tin bài viết">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

            </div>

        </div>

    </section>
</main>