@using DoAn_WebAcc.Controllers;
@model IList<AccGI>
@{
    ViewData["Title"] = "Home Page";
}
<center><img src="https://uploadstatic-sea.mihoyo.com/contentweb/20200319/2020031919242255224.png" class="city__icon"></center>
<h1 class="guide__title" style="margin-bottom: 72px;">
    Danh sách tài khoản Genshin Impact
</h1>
<div class="container-lg">
    <div class="row">
        <div class="col-12 col-lg-3 search-zone">
            <section id="search-form" class="search-frm p-4 pb-5">
                <p class="text-center ms-text h5 m-2">
                    Tìm kiếm
                </p>
                <p class="text-center small">
                    Bỏ trống tùy ý
                </p>
                <form method="get" asp-controller="Register" asp-action="Index">
                    <div class="col-12 mt-3">
                        <label class="form-label">
                            Giá
                        </label>
                        <select class="form-control" name="price">
                            <option value="">
                                Chọn giá
                            </option>
                            <option value="1|10000">
                                10k trở xuống
                            </option>
                            <option value="10000|50000">10K - 50K</option>
                            <option value="50000|100000">50K - 100K</option>
                            <option value="100000|200000">100K - 200K</option>
                            <option value="200000|300000">200K - 300K</option>
                            <option value="300000|400000">300K - 400K</option>
                            <option value="400000|500000">400K - 500K</option>
                            <option value="500000|800000">500K - 800K</option>
                            <option value="800000|1000000">800K - 1tr</option>
                            <option value="1000000|5000000">1tr - 5tr</option>
                            <option value="5000000|999999999">
                                Trên
                                5tr
                            </option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-6 mt-3">
                            <label class="form-label">
                                Sắp xếp giá
                            </label>
                            <select class="form-control" name="sort_price">
                                <option value="asc">
                                    Tăng dần
                                </option>
                                <option value="desc">
                                    Giảm dần
                                </option>
                            </select>
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label">Server</label>
                            <select class="form-control" name="acc_server">
                                <option value="">Chọn Server</option>
                                <option value="asia">ASIA</option>
                                <option value="america">AMERICA</option>
                                <option value="europe">EUROPE</option>
                                <option value="tw,hk,mo">TW, HK, MO</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <button name="search" value="search" type="submit" class="offset-2 col-8 form-control btn btn-warning text-white font-weight-bold">
                            <i class="fab fa-searchengin ml-2"></i> Tìm kiếm
                        </button>
                    </div>
                </form>
            </section>
        </div>

        <div class="col-lg-9 product-list mt-4 mt-lg-0">
            <div class="row">
                @foreach (var acc in Model)
                {
                    string url = $"/AccGI/Acc-{acc.UID}";
                    <article class="col-md-6 col-lg-4">
                        <div class="genshin-product">
                            <div class="product-code">@acc.UID</div>
                            <div class="wrapper product-wrapper">
                                <div class="ribbon-wrapper ribbon-lg">
                                    <div class="ribbon bg-warning text-lg">
                                        @acc.Price<sub>đ</sub>
                                    </div>
                                </div>
                                <a href="@url">
                                    <div class="img-banner" style="background-image: url('../../files/58/images/genshin-acc-normal/G%c3%89NHIN1-Sc.webp')">
                                    </div>
                                </a>
                                <div class="row g-0 info-line">
                                    <section class="col text-center">
                                        <label>level</label> @acc.LV
                                    </section>
                                    <section class="col text-center text-uppercase">
                                        <label>
                                            Khu Vực
                                        </label> @acc.Server
                                    </section>
                                </div>
                                <div class="hr-product"></div>
                                <div class="row g-0 info-line">
                                    <section class="row g-0 text-center">
                                        <span class="more-detail">Acc Chưa gắn Mail và chưa cài Sinh Nhật - đăng nhập được</span>
                                    </section>
                                </div>
                                <div class="hr-product"></div>
                                <div class="row g-0 info-line">
                                    <section class="row g-0 text-center">
                                        <label class="col-12 pb-2">
                                            Số nhân vật
                                            : @acc.CharCount
                                        </label>
                                    </section>
                                </div>
                                <div class="row g-0 info-line">
                                    <section class="row g-0 text-center">
                                        <label class="col-12 pb-2">
                                            Số vũ khí 5*
                                            : @acc.Weapon
                                        </label>
                                    </section>
                                </div>
                                <div class="row g-0">
                                    <a href="@url" class="btn btn-primary product-detail-button mb-4">
                                        Chi tiết
                                    </a>
                                </div>
                            </div>
                        </div>
                    </article>
                }
                <nav class="mt-4 float-right">
                    <nav>
                        <ul class="pagination">
                            @{
                                int pagecount = AccGIController._List_pagenow;
                                int maxpagecount = AccGIController._List_maxpage;
                                //pre page
                                int prepagecount = pagecount - 1;
                                if (prepagecount < 1) prepagecount = 1;
                                //next page
                                int nextpagecount = pagecount + 1;
                                if (nextpagecount > maxpagecount) nextpagecount = maxpagecount;
                                <li class="page-item">
                                    <a class="page-link" href="/AccHI/page=@prepagecount" aria-label="&laquo; Previous">&lsaquo;</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link"> @pagecount </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="/AccHI/page=@nextpagecount" aria-label="Next &raquo;">&rsaquo;</a>
                                </li>

                            }
                        </ul>
                    </nav>
                </nav>
            </div>
        </div>
    </div>
</div>