@using DoAn_WebAcc.Models;
@model IList<Footer>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Danh sách Footer</h2>
    </div>

    <p>
        <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="Footer" asp-action="Create">
            <i class="bi bi-file-earmark-text me-1">
                Thêm Footer
            </i>
        </a>
    </p>
    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
                    <div class="card-body mt-4">
                        <table class="table table-borderless datatable">
                            <thead>
                                <tr>
                                    <th class="col-1 text-center">#</th>
                                    <th class="col-3 text-center">Tiêu đề</th>
                                    <th class="col-1 text-center">Cột</th>
                                    <th class="col-1 text-center">Footer cha</th>
                                    <th class="col-1 text-center">Thứ tự</th>
                                    <th class="col-1 text-center">Ẩn/Hiện</th>
                                    <th class="col-1 text-center">Icon</th>
                                    <th class="col-1 text-center">TextLink</th>
                                    <th class="col-1 text-center">Link</th>
                                    <th class="col-2 text-center">Chức năng</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th class="text-center">@item.FooterId</th>
                                        <th class="text-primary">@item.ItemText</th>
                                        <th class="text-center">@item.Column</th>
                                        <th class="text-center">@item.ParentID</th>
                                        <th class="text-center">@item.ItemOrder</th>
                                        <th class="text-center">@item.IsActive</th>
                                        <th class="text-center">@item.Icon</th>
                                        <th class="text-center">@item.TextLink</th>
                                        <th class="text-center">@item.Link</th>

                                        <th class="text-center">
                                            <a asp-area="Admin" asp-controller="Footer" asp-action="Edit" asp-route-id="@item.FooterId" class="btn btn-primary btn-sm" title="Sửa">
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                            <a asp-area="Admin" asp-controller="Footer" asp-action="Delete" asp-route-id="@item.FooterId" class="btn btn-danger btn-sm" title="Xoá">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                        </th>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>

    </section>
</main>